* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 3fr 2fr 6fr 3fr 0.5fr 1fr;
  grid-template-rows: 1fr 3fr 2fr 1fr 1fr 1fr;
  background-color: darkslategray;
  font-family: "Tomorrow";

  header {
    grid-column: 1/8;
    box-shadow: 8px 0px 10px 5px;
  }
  main {
    grid-column: 2/4;
    grid-row: 2/3;
    box-shadow: 0px 5px 30px 5px;
  }
  h2 {
    grid-column: 4/6;
    grid-row: 2/3;
  }

  section {
    grid-column: 2/6;
    grid-row: 3/6;
    box-shadow: 4px 5px 50px 5px;
    min-height: 25vh;
  }
  div {
    grid-column: 5/7;
    grid-row: 3/5;
    box-shadow: -10px 5px 30px 5px black;
  }

  footer {
    grid-column: 1/8;
    grid-row: 7/8;
    box-shadow: 30px -8px 40px 5px;
  }
}
li {
  list-style: none;
}

h1 {
  display: flex;
  align-items: center;
  color: black;
  background-color: burlywood;
  font-size: 2rem;
  text-decoration: underline solid salmon;
}

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: burlywood;
  color: black;
  height: 30px;

  padding: 20px;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 0.9rem;
}

a {
  color: black;
  text-decoration: none;
  margin: 20px;
}

main {
  background-color: #99745c;
}

section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 40vh;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: burlywood;
  font-size: 1.5rem;

  height: 70px;
}
.socials-links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}
.socials-links a {
  color: black;
}

li a:hover {
  color: white;
  text-decoration: underline salmon;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
  background-color: #99745c;
  font-size: 1.5rem;
  font-style: italic;
  color: white;
  height: 40vh;
  max-width: 30vw;
}
div p {
  font-size: 1rem;
  margin: 0 2ch 0 2ch;
}

img {
  width: 20vw;
  margin-left: 15%;
  margin-top: 1px;
}

h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 3vw 7vh;
  margin-left: 70px;
  font-style: initial;
  color: salmon;
}

.intro-paragraph {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  align-items: center;
  max-width: 70%;
  margin: 50px;
  font-style: bold;
  font-weight: 600;
}

@media (width > 1000px) {
  .intro-paragraph {
    font-size: 2.3rem;
  }
  .nav-menu {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 5vw;
  }

  div p {
    font-size: 1.8rem;
    border: 3px double salmon;
    padding: 5%;
  }
}
