* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  height: fit-content;
  grid-template-columns: 2fr 2fr 2fr 6fr 3fr 1fr;
  grid-template-rows: 1f 3fr 2fr 1fr 1fr 1fr;
  background-color: darkslategray;
  font-family: "Tomorrow";

  header {
    grid-column: 1/8;
    box-shadow: 8px 0px 10px 5px;
    background-color: burlywood;
  }
  main {
    grid-column: 3/5;
    grid-row: 2/7;
    box-shadow: 0px 5px 30px 5px;
  }

  .project-images {
    grid-column: 2/3;
    grid-row: 2/4;
  }

  footer {
    grid-column: 1/8;
    grid-row: 7/8;
    box-shadow: 30px -8px 40px 5px;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: burlywood;
  color: black;
  height: 30px;
  padding: 20px;
}

h1 {
  display: flex;
  align-items: center;
  color: black;
  background-color: burlywood;
  font-size: 2rem;
  text-decoration: underline solid salmon;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 0.9rem;
}

img {
  width: 19vh;
}

h2 {
  text-decoration: underline salmon;
  margin-bottom: 2ch;
}
h3 {
  color: salmon;
  text-decoration: underline black;
}

a {
  color: black;
  text-decoration: none;
  margin: 20px;
}

li {
  list-style: none;
}

main {
  background-color: #99745c;
}

.project1,
.project2,
.project3 {
  padding: 1ch;
  background-color: lightgrey;
  border: 5px double black;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: burlywood;
  font-size: 1.5rem;
}

.socials-links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}
.socials-links a {
  color: black;
}
li a:hover {
  color: white;
  text-decoration: underline salmon;
}

@media (width >= 1000px) {
  .nav-menu {
    font-size: 1.5rem;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    font-size: 2rem;
    padding: 50px;
    height: fit-content;
  }

  .project1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1ch;
    background-color: lightgray;
    margin-bottom: 20px;
    height: fit-content;
    border: 5px double black;
    box-shadow: 0px 5px 30px 5px;
  }

  .project2 {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    margin-bottom: 20px;
    padding: 1ch;
    height: fit-content;
    border: 5px double black;
    box-shadow: 0px 5px 30px 5px;
  }
  .project3 {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 1ch;
    background-color: lightgray;
    height: fit-content;
    border: 5px double black;
    box-shadow: 0px 5px 30px 5px;
  }

  img {
    width: 10vw;
  }

  .project-images img {
    margin-top: 30px;
  }

  h3 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 10px;
    color: salmon;
    text-decoration: underline black;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125%;
    font-size: 2rem;
    margin: 10px;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: burlywood;
    font-size: 1.5rem;
  }
}
